
body {
  padding:0;
  margin:0;
}


/***********************************************************************
                          ESTRUCTURA XERAL
***********************************************************************/
#espacio_mapa {}

  #map { 
    float:left;
    width:100px; height:100px; 
  }
  #espacio_mapa { 

  }
    #espacio_mapa #display_mapa {

    }

    #espacio_mapa #display_mapa_filters {

    }



/***********************************************************************
                          INFOWINDOW MAPA
***********************************************************************/
#caixa_mapa {
  color:black;
}

#caixa_mapa .elemento {
  height:20px !important;
  padding-top:7px;
  padding-bottom:10px;
  cursor:pointer;
  padding-left:40px;
  line-height: 25px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 10px 10px;
}

#caixa_mapa .elemento:hover { 
  background-color:#eee;
}

  #caixa_mapa .elemento.comunidade{
    font-weight: bold;
    height:30px;
    background-image:  url('../images/marcadores_cluster/point_small/bosque-pinar.png' );
    background-color:#AADE9E;
  }

    #caixa_mapa .elemento.tipo_audio { background-image: url('../images/marcadores_cluster/point_small/audio.png' ); }
    #caixa_mapa .elemento.tipo_foto { background-image: url('../images/marcadores_cluster/point_small/foto.png' ); }
    #caixa_mapa .elemento.tipo_video { background-image: url('../images/marcadores_cluster/point_small/video.png' ); }

  #caixa_mapa .elemento.comunidade:hover { 
    background-color: #99C78E;
  }


  /* /INFOWINDOW MAPA */

