@charset "UTF-8";  




/* Categorías 16x16*/ 
.categoria-actividades-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/actividades.png') no-repeat; }
.categoria-agriucltura-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/agricultura.png') no-repeat; }
.categoria-bancoConecemento-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/bancoConecemento.png') no-repeat; }
.categoria-comuns-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/comuns.png') no-repeat; }
.categoria-comunidades-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/comunidades.png') no-repeat; }
.categoria-ecoloxia-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/ecoloxia.png') no-repeat; }
.categoria-gandeiria-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/gandeiria.png') no-repeat; }
.categoria-instalacions-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/instalacions.png') no-repeat; }
.categoria-lexislacion-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/lexislacion.png') no-repeat; }
.categoria-mancomun-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/mancomun.png') no-repeat; }
.categoria-monteMadeirable-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/transfeminismos.png') no-repeat; }
.categoria-xestion-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/xestion.png') no-repeat; }

/* Categorías 32x32*/ 
.categoria-actividades-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/actividades.png') no-repeat; }
.categoria-agriucltura-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/agricultura.png') no-repeat; }
.categoria-bancoConecemento-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/bancoConecemento.png') no-repeat; }
.categoria-comuns-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/comuns.png') no-repeat; }
.categoria-comunidades-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/comunidades.png') no-repeat; }
.categoria-ecoloxia-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/ecoloxia.png') no-repeat; }
.categoria-gandeiria-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/gandeiria.png') no-repeat; }
.categoria-instalacions-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/instalacions.png') no-repeat; }
.categoria-lexislacion-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/lexislacion.png') no-repeat; }
.categoria-mancomun-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/mancomun.png') no-repeat; }
.categoria-monteMadeirable-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/transfeminismos.png') no-repeat; }
.categoria-xestion-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/xestion.png') no-repeat; }

/* Categorías 64x64*/ 
.categoria-actividades-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/actividades.png') no-repeat; }
.categoria-agriucltura-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/agricultura.png') no-repeat; }
.categoria-bancoConecemento-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/bancoConecemento.png') no-repeat; }
.categoria-comuns-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/comuns.png') no-repeat; }
.categoria-comunidades-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/comunidades.png') no-repeat; }
.categoria-ecoloxia-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/ecoloxia.png') no-repeat; }
.categoria-gandeiria-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/gandeiria.png') no-repeat; }
.categoria-instalacions-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/instalacions.png') no-repeat; }
.categoria-lexislacion-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/lexislacion.png') no-repeat; }
.categoria-mancomun-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/mancomun.png') no-repeat; }
.categoria-monteMadeirable-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/transfeminismos.png') no-repeat; }
.categoria-xestion-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/xestion.png') no-repeat; }




/* doocumentos 16x16*/ 
.documento-audio-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/audio.png') no-repeat; }
.documento-foto-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/foto.png') no-repeat; }
.documento-texto-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/texto.png') no-repeat; }
.documento-video-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/video.png') no-repeat; }

/* doocumentos 32x32*/ 
.documento-audio-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/audio.png') no-repeat; }
.documento-foto-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/foto.png') no-repeat; }
.documento-texto-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/texto.png') no-repeat; }
.documento-video-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/video.png') no-repeat; }

.documento-audio-32.inv {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/audio_inv.png') no-repeat; }
.documento-foto-32.inv {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/foto_inv.png') no-repeat; }
.documento-texto-32.inv {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/texto_inv.png') no-repeat; }
.documento-video-32.inv {  height:32px; width:32px;  background: url('/cartografia_nova/images/tipoDocumento/32x32/video_inv.png') no-repeat; }




/* doocumentos 64x64*/
.documento-audio-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/audio.png') no-repeat; }
.documento-foto-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/foto.png') no-repeat; }
.documento-texto-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/texto.png') no-repeat; }
.documento-video-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/video.png') no-repeat; }

.documento-audio-64.inv {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/audio_inv.png') no-repeat; }
.documento-foto-64.inv {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/foto_inv.png') no-repeat; }
.documento-texto-64.inv {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/texto_inv.png') no-repeat; }
.documento-video-64.inv {  height:64px; width:64px;  background: url('/cartografia_nova/images/tipoDocumento/64x64/video_inv.png') no-repeat; }

/*estilos para icono documento*/
.selector-documento {float:left;margin-right:4px;margin-top:2px;}




/* Couriñas de filtros */
.filtros-buscar {   height:32px; width:32px;  background: url('/cartografia_nova/images/search_filters_n.png') no-repeat; }
.filtros-add {   height:32px; width:32px;  background: url('/cartografia_nova/images/add_filters.png') no-repeat; }



/* Cores categoráis */
.bgcolor-actividades {  background-color:#D93158;  }
.bgcolor-agriucltura {  background-color:#27AD54;  }
.bgcolor-bancoConecemento {  background-color:#AC114A;  }
.bgcolor-comuns {  background-color:#B8E133;  }
.bgcolor-comunidades {  background-color:#0C3E27;  }
.bgcolor-ecoloxia {  background-color:#97DA31;  }
.bgcolor-gandeiria {  background-color:#5631A2;  }
.bgcolor-instalacions {  background-color:#3F0B6C;  }
.bgcolor-lexislacion {  background-color:#A00905;  }
.bgcolor-mancomun {  background-color:#0C3E27;  }
.bgcolor-monteMadeirable {  background-color:#ECB536;  }
.bgcolor-transfeminismos {  background-color:#8D259B;  }
.bgcolor-xestion {  background-color:#EC7A36;  }

.bgcolor-comunidade {  background-color:#27AB58;  }
