@charset "UTF-8";  

/* Categorías 16x16*/ 
.categoria-actividades-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/actividades.png') no-repeat; }
.categoria-agriucltura-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/agricultura.png') no-repeat; }
.categoria-bancoConecemento-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/bancoCoñecemento.png') no-repeat; }
.categoria-comuns-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/comúns.png') no-repeat; }
.categoria-comunidades-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/comunidades.png') no-repeat; }
.categoria-ecoloxia-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/ecoloxia.png') no-repeat; }
.categoria-gandeiria-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/gandeiría.png') no-repeat; }
.categoria-instalacions-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/instalacions.png') no-repeat; }
.categoria-lexislacion-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/lexislacion.png') no-repeat; }
.categoria-mancomun-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/mancomún.png') no-repeat; }
.categoria-monteMadeirable-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/transfeminismos.png') no-repeat; }
.categoria-xestion-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/categorias/16x16/xestion.png') no-repeat; }

/* Categorías 32x32*/ 
.categoria-actividades-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/actividades.png') no-repeat; }
.categoria-agriucltura-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/agricultura.png') no-repeat; }
.categoria-bancoConecemento-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/bancoCoñecemento.png') no-repeat; }
.categoria-comuns-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/comúns.png') no-repeat; }
.categoria-comunidades-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/comunidades.png') no-repeat; }
.categoria-ecoloxia-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/ecoloxia.png') no-repeat; }
.categoria-gandeiria-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/gandeiría.png') no-repeat; }
.categoria-instalacions-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/instalacions.png') no-repeat; }
.categoria-lexislacion-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/lexislacion.png') no-repeat; }
.categoria-mancomun-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/mancomún.png') no-repeat; }
.categoria-monteMadeirable-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/transfeminismos.png') no-repeat; }
.categoria-xestion-32 {  height:32px; width:32px;  background: url('/cartografia_nova/images/categorias/32x32/xestion.png') no-repeat; }

/* Categorías 64x64*/ 
.categoria-actividades-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/actividades.png') no-repeat; }
.categoria-agriucltura-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/agricultura.png') no-repeat; }
.categoria-bancoConecemento-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/bancoCoñecemento.png') no-repeat; }
.categoria-comuns-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/comúns.png') no-repeat; }
.categoria-comunidades-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/comunidades.png') no-repeat; }
.categoria-ecoloxia-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/ecoloxia.png') no-repeat; }
.categoria-gandeiria-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/gandeiría.png') no-repeat; }
.categoria-instalacions-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/instalacions.png') no-repeat; }
.categoria-lexislacion-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/lexislacion.png') no-repeat; }
.categoria-mancomun-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/mancomún.png') no-repeat; }
.categoria-monteMadeirable-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/monteMadeirable.png') no-repeat; }
.categoria-transfeminismos-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/transfeminismos.png') no-repeat; }
.categoria-xestion-64 {  height:64px; width:64px;  background: url('/cartografia_nova/images/categorias/64x64/xestion.png') no-repeat; }




/* doocumentos 16x16*/ 
.documento-audio-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/audio.png') no-repeat; }
.documento-foto-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/foto.png') no-repeat; }
.documento-texto-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/texto.png') no-repeat; }
.documento-video-16 {  height:16px; width:16px;  background: url('/cartografia_nova/images/tipoDocumento/16x16/video.png') no-repeat; }

/* doocumentos 32x32*/ 
.documento-audio-32 {}
.documento-foto-32 {}
.documento-texto-32 {}
.documento-video-32 {}

/* doocumentos 64x64*/
.documento-audio-64 {}
.documento-foto-64 {}
.documento-texto-64 {}
.documento-video-64 {}

/*estilos para icono documento*/
.selector-documento {float:left;margin-right:4px;margin-top:2px;}